.loginContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

.login_form {
    margin-top: 100px;
    background-color: #ffffff;
    width: 600px;
    height: 400px;
}
.login_heading {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.login_buttons {
    display: flex;
    flex-direction: row;
}
.btn1 {
    width: 240px;
    margin:10px;
    
}

.submit_button {
    padding-left: 0px;
    padding-right: 0px;
}
.signup_button {
    padding-top:50px;
    padding-bottom:50px;
    
}